<!-- Themes Dragen And Drop Simple small item -->
<ion-content class="has-header">
  <!-- Themes Dragen And Drop Simple small item Refresher -->
  <ion-refresher pulling-text="{{listViewController.data.refreshMessage}}"
  on-refresh="listViewController.doRefresh()">
  </ion-refresher>
  <!-- Themes Dragen And Drop Simple small item List -->
  <ion-list show-reorder="true">
    <ion-item class="item-avatar item-bcg" ng-repeat="item in listViewController.data.items"
    ng-click="listViewController.onClick('onItemClick', item, $event)">
      <img ng-src="{{item.image}}" alt="{{item.title}}" />
      <div class="item-title">{{item.title}}</div>
      <ion-reorder-button class="icon {{item.rightIcon}}"
        on-reorder="  listViewController.reorderItem($fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item>
  </ion-list>
</ion-content>
