<!--Theme Down + fade in + Ken Burns-->
<ion-content class="has-header" scroll="false">
  <div id="splash-background-image">
    <img class="splash-screen" ng-src="{{splashScreenController.data.backgroundImage}}">
    <img class="logo-down" ng-src="{{splashScreenController.data.logo}}" alt="Image not available" />
    <div class="item-fade-in">
      <h2>{{splashScreenController.data.title}}</h2>
    </div>
    <div class="button-fade-in center">
            <button ng-click="splashScreenController.tour()"  class="btn waves-effect waves-dark ng-binding">
                Take a Tour
            </button>
            <button ng-click="splashScreenController.search()" class="btn waves-effect waves-dark ng-binding">
                Set Location
            </button>
    </div>
  </div>
</ion-content>

