/*  #Theme Small header + medium item
===========================================*/
.item-divider {
  padding: 10px; }
  .item-divider.header-divider {
    background-color: #fcd736;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
    z-index: 9; }
  .item-divider h2.header-title {
    color: #424242;
    font-size: 24px; }
  .item-divider .icon-small {
    color: rgba(66, 66, 66, 0.6);
    font-size: 20px !important;
    padding-top: 7px; }
  .item-divider .span-small {
    color: rgba(66, 66, 66, 0.6);
    font-size: 14px !important;
    padding-top: 7px; }

.item-bcg {
  background-color: #424242 !important;
  border-color: #202020 !important; }
  .item-bcg .social i.icon {
    color: rgba(252, 215, 54, 0.6);
    font-size: 20px;
    width: 20px; }
  .item-bcg .item-title {
    color: #fcd736;
    font-size: 20px;
    padding: 5px 0; }
  .item-bcg .item-body {
    width: 100%;
    padding: 0; }
    .item-bcg .item-body .item-body-text {
      color: #fcd736;
      font-size: 14px;
      padding: 25px 5px 0; }
