<!--Theme Styled cards 2-->
<ion-content class="has-header">
  <ion-refresher pulling-text="{{listViewController.data.refreshMessage}}"
  on-refresh="listViewController.doRefresh()">
  </ion-refresher>
  <!--Theme Styled cards 2 Content-->
  <ion-list ng-click="listViewController.onClick('onItemClick', item, $event)"
  ng-repeat="(key, item) in listViewController.data.items">
    <ion-slide-box on-slide-changed="listViewController.deleteItem(key, true)" show-pager="false">
      <!--Theme Styled cards 2-->
      <ion-slide>
        <div class="card card-bcg">
          <div class="card-image">
            <img ng-src="{{item.image}}" alt="{{item.headerText}}" />
            <h2 class="card-title">{{item.headerText}}</h2>
          </div>
          <div class="card-content">
            <h2 class="card-subtitle">{{item.title}}</h2>
            <p class="card-body-text">{{item.description}}</p>
          </div>
          <div class="card-action">
            <a href="#" class="button-default waves-effect waves-deep-purple btn-flat right"
            ng-click="listViewController.onClick('onShare', item, $event)">
            {{item.secondButton}}
          </a>
            <a href="#" class="button-default waves-effect waves-deep-purple btn-flat right"
            ng-click="listViewController.onClick('onExplore', item, $event)">
            {{item.firstButton}}
          </a>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
      </ion-slide>
    </ion-slide-box>
  </ion-list>
</ion-content>
