//*  #Main Sass
@import "../../../../../../scss/main-style.scss";
/*  # Themes Small item + header
================================================*/
.slider {
  height: 63px;
  margin-bottom: 1px;
}

.header-bcg {
  @include header( 'header-bcg');
  height: 105px !important;
  padding: 0;
  border: none;

  .item {
    padding: 0;
    border: none;
  }
  
  .social {
    padding-top: 10px;
    padding-right: 10px;

    i.icon {
      color: theme-colors('mainColors', 'primary');
      font-size: icon-size('icon-small');
    }
  }

  h1.header-title {
    @include header( 'header-title');
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  h2.header-subtitle {
    @include header( 'header-subtitle');
    margin-left: 85px;
    font-weight: 300;
  }

  .icon-large.icon {
    font-size: icon-size('icon-large');
    color: theme-colors('textColors', 'accent');
    float: left;
    margin-top: 20px;
    width: 100px;
    text-align: center;
  }

  .span-medium {
    font-size: font-size-text('h1');
    color: theme-colors('mainColors', 'primary');
    padding-top: 10px;
    display: inline-block;
  }
}
/*  #Content
===========================================*/
.swipe-to-dismiss {
  margin-top: 160px;

  .item-bcg {
    @include item( 'item-bcg');
    padding: 10px 90px 10px 70px;
    min-height: 64px;

    h2.item-title {
      @include item( 'item-title');
    }

    h3.item-subtitle {
      @include item( 'item-subtitle');
    }

    .icon-medium {
      @include icon( 'icon-medium');
    }

    img {
      border-radius: $border-radius !important;
      top: 9px !important;
    }

    .span-small {
      color: theme-colors('textColors', 'primary');
      position: absolute;
      right: 50px;
      font-size: font-size-text('h6');
      top: 22px;
    }
  }
  /*  #Content Settings
  ===========================================*/
  .swiped-item-bcg {
    @include swiped-item( 'swiped-item-bcg');
    width: 100%;
    display: table;
    height: 63px;

    a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    a:first-child {
      width: 80%;
    }

    h2.swiped-item-title {
      @include swiped-item( 'swiped-item');
      margin: 0;
    }
  }
}
/*  #Ios platform
===========================================*/
.platform-ios .swipe-to-dismiss {
  margin-top: 168px;
}
