/*  Theme Small items + profile header
===========================================*/
.icon-small {
  color: rgba(252, 215, 54, 0.6) !important;
  font-size: 20px !important; }

.list {
  padding-bottom: 0; }

/*  Theme Images Top
===========================================*/
.container-hearder-image {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: white;
  background-blend-mode: luminosity; }
  .container-hearder-image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-color: #424242; }
  .container-hearder-image.header-bcg {
    background-color: #fcd736;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .container-hearder-image h1.header-title {
    color: #fcd736;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0; }
  .container-hearder-image h2.header-subtitle {
    color: #fcd736;
    font-size: 14px; }
  .container-hearder-image .item-avatar {
    border-color: transparent !important;
    padding-top: 25px;
    padding-left: 90px; }
    .container-hearder-image .item-avatar img {
      max-width: 64px !important;
      max-height: 64px !important; }

/*  Theme Accordion
===========================================*/
.collapsible {
  border: 0;
  box-shadow: none;
  margin: 0; }
  .collapsible .active i.icon-chevron-down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 10px; }
  .collapsible .article.ng-hide {
    line-height: 0; }
  .collapsible .article.ng-hide-add,
  .collapsible .article.ng-hide-remove {
    display: block !important; }
  .collapsible .collapsible-header {
    background-color: transparent;
    border: none;
    padding: 0; }
    .collapsible .collapsible-header .item-bcg {
      background-color: #424242 !important;
      border-color: #202020 !important; }
      .collapsible .collapsible-header .item-bcg .item-title {
        color: #fcd736;
        font-size: 20px; }
      .collapsible .collapsible-header .item-bcg .item-subtitle {
        color: rgba(254, 254, 254, 0.6);
        font-size: 12px; }
  .collapsible .collapsible-body {
    border: none; }
    .collapsible .collapsible-body img {
      margin-left: 5px; }
    .collapsible .collapsible-body .subitem-bcg {
      background-color: #202020 !important;
      border: none; }
      .collapsible .collapsible-body .subitem-bcg .subitem-title {
        color: white;
        font-size: 14px;
        line-height: normal;
        padding-top: 10px; }
    .collapsible .collapsible-body i.icon {
      right: 19px; }
