<!--Theme Google Cards Social-->
<ion-content class="has-header">
  <ion-refresher pulling-text="{{listViewController.data.refreshMessage}}"
  on-refresh="listViewController.doRefresh()">
  </ion-refresher>
  <!--Google Cards Social Content-->
  <ion-list>
    <ion-slide-box on-slide-changed="listViewController.deleteItem(key, true)"
    show-pager="false" ng-click="listViewController.onClick('onItemClick', item, $event)"
    ng-repeat="(key, item) in listViewController.data.items">
      <!--Google Cards Social Card-->
      <ion-slide>
        <div class="card card-bcg">
          <ion-item class="item-avatar">
            <img ng-src="{{item.avatar}}" />
            <h2 class="card-title">{{item.title}}</h2>
            <h3 class="card-subtitle">{{item.shortDescription}}</h3>
          </ion-item>
          <ion-item class="item-image">
            <img ng-src="{{item.image}}" alt="{{item.title}}" />
          </ion-item>
          <ion-item class="item-body">
            <p class="card-body-text">{{item.description}}</p>
              <a href="#" class="button-flat waves-effect waves-dark btn-flat disabled right"
              ng-click="listViewController.onClick('onFollow', item, $event)">
                {{item.secondButton}}
              </a>
              <a href="#" class="button-flat waves-effect waves-dark btn-flat disabled right"
              ng-click="listViewController.onClick('onLike', item, $event)">
                {{item.firstButton}}
              </a>
          </ion-item>
        </div>
      </ion-slide>
      <ion-slide>
      </ion-slide>
    </ion-slide-box>
  </ion-list>
</ion-content>
