
<div class="nav-bar-block" nav-bar="active">
	<ion-header-bar class="bar-stable bar bar-header disable-user-behavior" align-title="center">
				<div class="buttons buttons-left header-item">
					<span class="left-buttons">
                <button class="button button-icon button-clear ion-navicon hide" menu-toggle="left"></button>
           		    </span>
			    </div>
			<div class="title title-center header-item" style="text-align: center; font-weight:400px;  ">Fellows
				</div></div></ion-header-bar></div>


<ion-content class="">
    <ion-refresher pulling-text="Refreshing Regions" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
        <div class="container-hearder-image text-center"   style="background-image: url('img/background-small/7.jpg')" >
            <div class="header-title">Karachi</div>
            
        </div>
        <ul class="collapsible" data-collapsible="expandable">
            <li ng-repeat="group in region" ng-click="onClick(group)">
                <ion-item class="collapsible-header item-bcg">
                    
                    <h2 class="item-title">{{group.REGION}}</h2>
                </ion-item>
                <!-- Centered with header Accordion-->
                <div class="collapsible-body" id="{{group.REGION}}">
                    <ion-item ng-click="onSubClick(item)" class="subitem-bcg text-center waves-block waves-effect waves-light transparent" ng-repeat="item in subregion | filter:{REGIONID: group.ID} ">
                        <h2 class="subitem-title ">{{item.AREA}}</h2>
                    </ion-item>
                </div>
            </li>
        </ul>
</ion-content>