/*  Theme Centered with header
===========================================*/
.container-hearder-image {
  height: 145px;
  display: table;
  width: 100%;
  background-color: white;
  background-blend-mode: luminosity;
  position: relative; }
  .container-hearder-image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-color: #424242; }
  .container-hearder-image .header-title {
    color: #fcd736;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    z-index: 9999;
    position: relative; }

/*  Theme Centered with header Content
===========================================*/
.collapsible {
  margin: 0;
  text-align: center;
  border: none;
  box-shadow: none; }
  .collapsible .icon-small {
    color: rgba(252, 215, 54, 0.6) !important;
    font-size: 20px !important;
    margin: 0 auto;
    float: none;
    line-height: 30px; }
  .collapsible .item {
    position: relative;
    border: none; }
    .collapsible .item.item-bcg {
      background-color: #424242;
      margin: 0; }
      .collapsible .item.item-bcg::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 50%;
        left: 25%;
        height: 1px;
        background-color: #202020; }
      .collapsible .item.item-bcg.active::before {
        background-color: transparent; }
  .collapsible .collapsible-header {
    padding-top: 15px;
    padding-bottom: 10px; }
    .collapsible .collapsible-header h2.item-title {
      color: #fcd736;
      font-size: 20px;
      line-height: normal;
      margin: 10px 0; }
  .collapsible .collapsible-body {
    border: none; }
    .collapsible .collapsible-body .subitem-bcg {
      background-color: #202020 !important; }
    .collapsible .collapsible-body h2.subitem-title {
      color: white;
      font-size: 14px;
      line-height: normal;
      padding: 15px 0;
      margin: 0; }
    .collapsible .collapsible-body .item {
      margin: 0 auto;
      padding: 0; }
    .collapsible .collapsible-body > .item:last-child {
      border-bottom: 1px solid transparent; }
