.bar.bar-stable .title,
.item h2,
.item h3,
a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.bar-subheader,
.has-header,
.platform-ios .bar-subheader {
  top: 56px !important; }

.list {
  padding-top: 0; }

.bar.bar-stable {
  background-color: #00887a !important;
  height: 56px;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none; }
  .bar.bar-stable .title {
    color: white;
    font-size: 24px;
    padding-top: 5px;
    left: 40px !important;
    text-align: left;
    font-weight: bold; }
  .bar.bar-stable .buy-now.btn {
    color: #fff;
    padding: 0 10px;
    box-shadow: none;
    border: 1px solid #fff;
    margin-top: 5px;
    font-weight: normal; }
  .bar.bar-stable .button.button-clear {
    padding: 0 5px;
    color: #81c784; }
  .bar.bar-stable .buttons.buttons-left.header-item {
    padding: 0 5px;
    color: #81c784; }
  .bar.bar-stable .button .icon-arrow-left:before {
    font-size: 24px;
    padding: 5px 0; }
  .bar.bar-stable .back-text {
    display: none !important; }

.menu-content-background {
  background-image: url("../img/background/31.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.container-background, .container-background-full {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.left-menu-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-blend-mode: luminosity;
  background-image: url("../img/background/29.jpg");
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2); }
  .left-menu-background::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    opacity: 0.5;
    background: #00bea4;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #00bea4 0%, #81c784 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00bea4 0%, #81c784 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00bea4 0%, #81c784 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bea4', endColorstr='#81c784',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.main-menu {
  background-color: transparent;
  border-color: transparent; }
  .main-menu.item {
    border-width: 0;
    margin: 0; }
  .main-menu .item-content {
    padding-left: 30px;
    background-color: rgba(244, 245, 245, 0.8) !important;
    color: #7fcac3;
    font-size: 20px; }
  .main-menu i.icon {
    font-size: 20px; }

.scroll-refresher .ionic-refresher-content {
  color: #7fcac3; }

.spinner,
.spinner-ios,
.spinner-ios-small {
  color: #00bea4;
  fill: #00bea4;
  stroke: #00bea4; }

.block-table {
  width: 100%;
  height: 100%;
  display: table; }

.block-table .scroll {
  display: table-cell;
  vertical-align: middle; }

.ionic-descript {
  color: #fde800;
  padding: 0 20px; }
  .ionic-descript h2 {
    color: #fde800;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 0; }
  .ionic-descript p {
    margin-top: 10px;
    margin-bottom: 30px; }

.ionic-documentation {
  margin-top: 30%;
  display: block;
  text-decoration: underline;
  color: #fff;
  padding: 0 20px; }

.spinner-view .spinner img {
  width: 100px;
  height: 100px;
  margin: 50% auto 0;
  display: block; }

.spinner-view .scroll {
  height: 100%; }

.spinner-view .slider {
  height: 100%; }

.spinner-view .slider-pager .ion-record:before {
  color: #00887a; }

#toast-container {
  text-align: center; }

.custom-toast {
  width: auto;
  display: inline-block;
  margin-bottom: 0.8em;
  word-break: break-all; }

.shape-img-block {
  width: 50%;
  float: left;
  display: block;
  text-align: center;
  margin-top: 20px; }
  .shape-img-block img {
    max-width: 100px; }

.menu-panel span {
  color: #00bea4;
  display: block;
  clear: both;
  margin-top: 10px;
  font-size: 18px; }

.menu-panel .back-menu.btn {
  border: 1px solid #00bea4;
  margin: 50% auto 0;
  font-size: 16px;
  color: #00bea4;
  font-weight: bold; }
  .menu-panel .back-menu.btn i.left {
    margin-right: 0; }

.platform-ios .has-header, .platform-ios .bar-subheader {
  top: 64px !important; }

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 10px; }
